/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../../public/assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
}

/* Header Styles */
.header {
  background-color: #3cb371;
  color: white;
  padding: 20px 30px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav li {
  margin: 0 15px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: bold;
}

.nav a:hover {
  color: #f0f0f0;
}

.header-title {
  font-size: 1.5em;
  margin: 0;
  color: white;
  text-align: right;
}

/* Main Container */
.main-container {
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Forms and Buttons */
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

/* Uniform styling for all input, select, and textarea fields */
input[type='text'],
input[type='number'],
input[type='date'],
select,
textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #333;
  appearance: none;
  background-color: white;
}

select {
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}

select:focus,
input[type='date']:focus,
input[type='text']:focus,
input[type='number']:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

button,
input[type='submit'] {
  align-self: flex-start;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover,
input[type='submit']:hover {
  background-color: #45a049;
}

/* Transaction Card Styles */
.transaction-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.transaction-card:hover {
  transform: scale(1.02);
}

.transaction-info {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-grow: 1; /* Allows this section to take remaining space */
}

.transaction-icon {
  width: 64px;
  height: 64px;
  flex-shrink: 0; /* Prevents icon from shrinking */
}

.transaction-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1; /* Allows the details section to expand */
  padding-right: 20px; /* Adds space between details and action buttons */
}

.transaction-category,
.transaction-description,
.transaction-amount,
.transaction-date {
  margin-right: 15px;
}

.transaction-category {
  font-size: 1.1em;
  font-weight: bold;
  flex-basis: 20%; /* Ensures the name has a consistent width */
}

.transaction-description {
  flex-basis: 30%; /* Description section */
}

.transaction-amount {
  color: #4caf50;
  font-weight: bold;
  flex-basis: 15%; /* Amount section */
  text-align: right; /* Aligns text to the right */
}

.transaction-date {
  font-size: 0.9em;
  color: #666;
  flex-basis: 20%; /* Date section */
  text-align: right;
}

.transaction-actions {
  display: flex;
  flex-direction: column; /* Aligns buttons vertically */
  gap: 5px;
  justify-content: center; /* Aligns buttons in the center vertically */
}

button.transaction-btn {
  background-color: #3cb371;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-shrink: 0; /* Prevents button from shrinking */
}

button.transaction-btn:hover {
  background-color: #2e8b57;
}

button.delete-btn {
  background-color: #e74c3c;
}

button.delete-btn:hover {
  background-color: #c0392b;
}

/* Chart Container */
.chart-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

canvas {
  display: block;
  width: 100% !important;
  max-width: 600px;
  height: auto !important;
}

/* Page Title */
.page-title {
  margin-bottom: 20px;
  font-size: 2em;
  color: #4caf50;
  font-weight: bold;
  text-align: left;
}
